{% extends 'products/main.html' %}
{% load static %}
{% block content %}
<h1><strong>Products</strong></h1>
<div class="row">
    <div class="col-lg-6">
        <div class="row-lg-4">
        <img class="thumbnail" src="{% static 'images/pineapple.jpg' %}">
        <div class="box-element product">
        <h6><strong>Ormoc's Pineapple</strong></h6>
        <hr>
        <p>
        The <em>pineapple</em> known as <em>Ormoc</em>'s queen is small in size, prickly, and rough on the outside, yet juicy and delicious within. 
        The pina is significant because <em>Ormoc</em> is renowned for its excellent <em>pineapples</em>. 
        This city has been known for producing pineapples in the Visayas for the longest period.
        </p>
        <br>
        <strong>Can be found in:</strong> Ormoc's Pier, Ormoc Supermarketsm and fruit stands near Shell Gasoline Station <br>
        <strong>Price Range:</strong> Php 25.00 per fruit
        </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row-lg-4">
            <img class="thumbnail" src="{% static 'images/binagol.jpg' %}">
            <div class="box-element product">
            <h6><strong>Binagol</strong></h6>
            <hr>
            <p><em>Binagol</em> is a delicacy prepared from the root crop known as "Taro" or "Gabi" in our language, which is Filipino. 
                The term "bagol" (which signifies coconut shell) is where the name <em>Binagol</em> originated. 
                It comes in a special package and has a particular flavor for the palate.
            </p>
            <br>
            <strong>Can be found in:</strong> Ormoc's Pier <br>
            <strong>Price Range:</strong> Php 35.00 per piece.(Can bargain for Php 100.00 for 3 pieces.)
        </div>	
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="row-lg-4">
            <img class="thumbnail" src="{% static 'images/cassavacake.jpg' %}">
            <div class="box-element product">
            <h6><strong>Cassava Cake</strong></h6>	
            <hr>
            <p>
                Grated <em>cassava</em> (manioc) is the main ingredient in <em>Cassava Cake</em>, a traditional Filipino treat.
                 In the Philippines, cassava is also referred to as kamoteng kahoy and balanghoy.
            </p>
            <br>
            <strong>Can be found in:</strong> Ormoc's Best Cassava Shop and Yoyi's Cakes & Pastries <br>
            <strong>Price Range:</strong> Php 250.00 per box
        </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row-lg-4">
        <img class="thumbnail" src="{% static 'images/chocolatemoron.jpg' %}">
        <div class="box-element product">
        <h6><strong>Chocolate Moron</strong></h6>
        <hr>
        <p>
        Moron is a rice cake that resembles suman in our cuisine.
        <em>Chocolate Moron</em>, known as "malagkit" (ground glutinous rice), is a chocolate treat that is cooked in coconut milk.
         You may eat moron straight or combined with <em>chocolate</em> or cocoa.
        </p>
        <strong>Can be found in:</strong> Ormoc's Pier <br>
        <strong>Price Range:</strong> Php 100.00 for 5-4 plastic pieces. (5 chocolate moron per plastic)
        </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}



